@using Microsoft.CodeAnalysis

@{
    ViewData["Title"] = "OGO Filesharing - Browse files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach(var file in ViewBag.Files)
    {
        <div class="col-md-2 file justify-content-center" id="@file.Id">
            <div>
                <img src="~/Images/file-icon.png"/>
            </div>
            <p class="file-name">@file.Name</p>
        </div>
    }
</div>


<script>

    $(function() {
        $.contextMenu({
            selector: '.file',
            items: {
                rename: {
                    name: "Rename",
                    callback: function (key, opt) {
                        renameFile(key, opt);
                    }
                },
                delete: {
                    name: "Delete",
                    callback: function (key, opt) {
                        deleteFile(key, opt);
                    }
                }
            }
        });
    });
    
    function renameFile(key, opt) {
        
        let $element = opt.$trigger;
        let fileId = $element.attr("id");
        console.log("rename", fileId);
        
        // TODO: Implement rename logic
    }
    
    function deleteFile(key, opt) {
        
        let $element = opt.$trigger;
        let fileId = $element.attr("id");
        console.log("delete", fileId);
        
        // TODO: Implement delete logic
    }

</script>