@using Group3.Semester3.WebApp.Entities

@{
    ViewData["Title"] = "OGO Filesharing - Shared File";
    
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    
    FileEntity file = ViewBag.File;
}


<div class="wrapper">
    <!-- Page Content -->
    <div id="content" class="container-fluid">


        <div class="row">
            <h2>@file.Name</h2>
        </div>

        <div class="row">

            <button class="btn btn-primary" id="view-file.button" onclick="previewFile()">Preview file</button>

            <button class="btn btn-primary" id="view-file.button" onclick="startFileDownload()">Download file file</button>

        </div>

    </div>
</div>


<script>
    const browseFilesUrl = "@Url.Action("BrowseFiles", "FileApi")";
    const fileIconUrl = "/@Url.Content("Images/file-icon.png")";
</script>

@*
    Modals section
*@

<div class="modal fade" id="downloadFileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Downloading <span id="download-file-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your file is ready to download</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel-download">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="filePreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview <span id="preview-file-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body align-content-center">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
