
@{
    ViewData["Title"] = "OGO Filesharing - Upload Test";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row justify-content-center">
    @Html.Raw(ViewBag.Result)
    <form enctype="multipart/form-data" method="post">
        <div class="form-group">
            <input type="file" name="files" class="form-control-file" multiple />
        </div>
        <div class="form-group">
            <input type="text" name="parentGuid" class="form-control" value="0" />
            <label for="parentGuid">Parent GUID</label>
        </div>
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-info"> Upload </button>
    </form>
</div>


