body {
}

.folder:hover {
    background-color: #c4b8ff;
    border: #9e8aff 1px solid;
    border-radius: 10px;
}

#go-back-button {
    margin-left: 20px;
    margin-right: 20px;
}

#directory-path span, .folder {
    cursor: pointer;
}