body {
}

.folder:hover {
    background-color: #c4b8ff;
    border: #9e8aff 1px solid;
    border-radius: 10px;
}

button {
    margin-left: 20px;
    margin-right: 20px;
}

#directory-path span, .folder {
    cursor: pointer;
}

#file-container {
    margin-top: 1em;
}

.navbar-dark {
    background-color: #0b3e6f;
}

.file-name {
    word-wrap: break-word;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

.file-name:hover {
    position: absolute;
    overflow: auto;
    line-height: initial;
    height: initial;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 100;
}